body {
  background-image: url('https://ml1mpivwayoo.i.optimole.com/Nz0zgus-HmerXL8b/w:auto/h:auto/q:auto/https://mearasescoladexadrez.com/wp-content/uploads/2017/11/black-abstract-wallpapers-high-resolution-As-Wallpaper-HD.jpg');
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
}

.menu {
  background-color: white;
}

a {
  color: teal; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.site-subtitle,
.site-title {
  text-align: center;
  color: whitesmoke;
}

.site-subtitle {
  font-style: italic;
}